{% extends 'decorator.html' %}
{% load static %}
{% block title %}Исполнители{% endblock %}
{% block content %}
    <h1>Исполнители</h1>
    {% for a in artists %}
        <a href="{% url 'blog:artist_detail' pk=a.id %}">
            <p>{{ a.name}}</p>
        </a>
    {% endfor %}
    <br>
        {% for a in albums %}
                <hr>
                <h2>{{ a.artist}} - {{ a.title }}({{ a.year }})</h2>
                <p>{{ a.genre }}</p>
                <img src="{{ MEDIA_URL }}{{ a.album_art }}" height="400">
            <br>
        {% endfor %}
{% endblock %}